.profileAvatar {
  overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
}

.hiLoQuestionMarkButton {
  padding-bottom: 19px !important;
  padding-left: 0px !important;
  margin: 0 !important;
}

.balance {
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

.priceButton {
  padding: 0px 5px !important;
  margin: 0 5px !important;
}

.collectButton {
  font-size: 16px !important;
  padding: 4px 14px !important;
  margin: 0 5px 0 0 !important;
}

.buyButton {
}

.logoutButton {
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  border-radius: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
}

.buyHiLoButton {
  font-size: 16px !important;
  padding: 0px 3px !important;
  margin: 0 3px 0 0 !important;
}

.purchaseAmount {
  margin-left: 9px;
  font-size: 30px;
  font-weight: bold;
}

.purchaseCardsStyle {
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
}

.hiLoPricesContainer {
  // margin-bottom: 15px;
}

.hiLoPlayButton {
  font-size: 24px !important;
  padding: 2px 10px !important;
  margin: 10px 0 0 -10px;
}

.hiLoContainer {
  height: 50%;
  padding: 30px 10px 0;
}

.chatContainer {
  width: 13rem;
  background-color: rgb(227, 227, 227, 0.67);
  // border: #fff solid 5px;
  padding: 5px;
  border-radius: 20px;
  margin: -30px 0 0 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatMessagesContainer {
  padding: 5px;
  border-radius: 10px;
  height: 88% !important;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chatInnerContainer {
  height: 44vh;
}

.chatIcon {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 12.5rem;
  z-index: 1002;
}

.icon {
  width: 27px;
  height: 27px;
}

.singleChat {
  padding-bottom: 15px;
}

.singleChat > img {
  border-radius: 50%;
  margin-right: 5px;
}

.chatMessageContainer {
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.chatMessage {
  font-size: 14px;
  font-weight: 300;
}

.chatUser {
  font-size: 10px;
  font-weight: 400;
}

.chatTime {
  font-size: 10px;
  color: #11298a;
  text-align: end;
  padding-top: 3px;
}

.ownerMessageContainer {
  background-color: #11298a;
  color: #fff !important;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}

.ownerMessageContainer > .chatMessage {
  padding: 5px 25px 5px 5px;
}

.ownerMessageContainer > .chatTime {
  color: #fff !important;
  padding-top: 3px;
  text-align: end !important;
}

.chatForm {
  margin-top: auto;
  padding: 0 25px 0 5px;
  align-items: center;
  justify-content: center;
}

.chatForm > div {
  align-items: center;
  justify-content: center;
}
.chatForm > div > Button {
  border-radius: 50% !important;
  margin-bottom: 0;
  margin-left: 10px;
  z-index: 1005 !important;
}
.mobileFeatures {
  display: none;
}

.desktopFeatures {
  display: flex;
}

.rightSideDesktopFeatures {
  display: block;
}
.active {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: orange;
  position: relative;
  top: -20px;
  left: -6px;
}

@media screen and (max-width: 2561px) {

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .topContainer {
    height: 55vh !important;
  }

  .bottomContainer {
    height: 45vh !important;
  }

  .leftTopBar {
    width: 13%;
  }

  .topBar {
    flex-basis: auto;
  }

  .centerTopBar {
    width: 53%;
    display: flex;
    justify-content: center;
  }

  .soundControllIcon {
    height: 37px;
    width: 37px;
  }

  .fullScreenIcon {
    height: 23px;
    width: 23px;
  }

  .playersCount {
    font-size: 24px;
  }

  .playersCountIcon {
    height: 35px;
    width: 30px;
  }

  .balance {
    font-size: 32px;
  }

  .userAvatar {
    height: 52px;
    width: 52px;
  }

  .coinCounterButton {
    font-size: 31px !important;
    width: 66px;
    height: 40px;
  }

  .bingo90Button {
    font-size: 30px !important;
    width: 165px;
    height: 52px;
  }

  .bingo90Button > span > img {
    width: 28px;
    height: 23px;
  }

  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 20px;
  }

  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 87% !important;
  }
}

@media screen and (max-width: 1920px) {
  .app {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url(/static/images/bingo90/1400x900.jpg);

    background-size: cover;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .topContainer {
    height: 55vh !important;
  }

  .bottomContainer {
    height: 45vh !important;
  }

  .leftTopBar {
    width: 13%;
  }

  .topBar {
    flex-basis: auto;
  }

  .centerTopBar {
    width: 53%;
    display: flex;
    justify-content: center;
  }

  .soundControllIcon {
    height: 37px;
    width: 37px;
  }

  .fullScreenIcon {
    height: 23px;
    width: 23px;
  }

  .playersCount {
    font-size: 24px;
  }

  .playersCountIcon {
    height: 35px;
    width: 30px;
  }

  .balance {
    font-size: 32px;
  }

  .userAvatar {
    height: 52px;
    width: 52px;
  }

  .coinCounterButton {
    font-size: 31px !important;
    width: 66px;
    height: 40px;
  }

  .bingo90Button {
    font-size: 30px !important;
    width: 165px;
    height: 52px;
  }

  .bingo90Button > span > img {
    width: 28px;
    height: 23px;
  }

  .chatContainer {
    width: 25vw;
    height: 45vh;
    margin: 0 20px;
  }

  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 73% !important;
  }
}

@media only screen and (max-width: 1920px) and (max-height: 1000px) {
  .chatContainer {
    width: 25vw;
    height: 45vh;
    margin: 0 20px;
  }

  .chatMessagesContainer {
    height: 72% !important;
  }
}

@media only screen and (max-width: 1600px) {

  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 20px;
  }

  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 77% !important;
  }
}

@media only screen and (max-width: 1600px) and (max-height: 757px) {
  .chatContainer {
    width: 25vw;
    height: 45vh;
    margin: 0 20px;
  }

  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 82% !important;
  }
}

@media only screen and (max-width: 1536px) {
  .chatSectionContainer {
    width: 25vw;
  }

  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 15px;
  }

  .chatInnerContainer {
    height: 40vh;
  }

  .chatMessagesContainer {
    height: 72% !important;
  }

  .chatForm {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1536px) and (max-height: 750px) {
  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 20px;
  }
  .chatSectionContainer {
    width: 25vw;
  }
  .chatMessagesContainer {
    height: 84% !important;
  }

  .chatInnerContainer {
    height: 47vh;
  }
}

@media screen and (max-width: 1440px) and (min-width: 900px) and (max-height: 901px) {
  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: block;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .topContainer {
    height: 55vh !important;
  }

  .bottomContainer {
    height: 45vh !important;
  }

  .leftTopBar {
    width: 13%;
  }

  .topBar {
    flex-basis: auto;
  }

  .centerTopBar {
    width: 53%;
    display: flex;
    justify-content: center;
  }

  .soundControllIcon {
    height: 37px;
    width: 37px;
  }

  .fullScreenIcon {
    height: 23px;
    width: 23px;
  }

  .playersCount {
    font-size: 24px;
  }

  .playersCountIcon {
    height: 35px;
    width: 30px;
  }

  .balance {
    font-size: 32px;
  }

  .userAvatar {
    height: 52px;
    width: 52px;
  }

  .coinCounterButton {
    font-size: 31px !important;
    width: 66px;
    height: 40px;
  }

  .bingo90Button {
    font-size: 30px !important;
    width: 165px;
    height: 52px;
  }

  .bingo90Button > span > img {
    width: 28px;
    height: 23px;
  }
}

@media screen and (max-width: 1440px) {
  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 20px;
  }

  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 75% !important;
  }
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 13.5rem;
    margin-top: -10px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 24px !important;
  }

  .purchaseButton {
    font-size: 24px !important;
    padding: 3px 20px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 900px) and (max-height: 755px) {
  .chatSectionContainer {
    width: 25vw;
  }

  .chatContainer {
    width: 25vw;
    height: 44vh;
    margin: 0 15px;
  }

  .chatMessagesContainer {
    height: 82% !important;
  }
}

@media screen and (max-width: 1380px) {
  .chatContainer {
    width: 13rem;
    height: 48vh;
    margin: 10px 15px;
  }

  .chatInnerContainer {
    height: 48vh;
  }
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 13.5rem;
    margin-top: -10px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 24px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 1367px) {
  .chatSectionContainer {
    width: 25vw;
  }

  .chatContainer {
    width: 13rem;
    height: 44vh;
    margin: 0 15px;
  }

  .chatInnerContainer {
    height: 48vh;
  }

  .chatMessagesContainer {
    height: 82% !important;
  }

  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 13.5rem;
    margin-top: -10px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 24px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 20px;
  }
}

@media screen and (max-width: 1367px) and (min-width: 900px) and (max-height: 650px) {
  .chatContainer {
    width: 13rem;
    height: 44vh;
    margin: 0 15px;
  }

  .chatInnerContainer {
    height: 44vh !important;
  }

  .chatMessagesContainer {
    height: 80% !important;
  }

  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 13.5rem;
    margin-top: -10px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 24px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 20px;
  }
}


@media only screen and (max-width: 1366px) and (min-width: 900px) and (min-height: 950px){
  .chatSectionContainer{
    margin: 7vh 0;
  }

  .chatInnerContainer {
    height: 46vh;
  }
}
// 1280 desktop and tablet landscape
@media screen and (max-width: 1280px) {
  .chatContainer {
    width: 25vw;
    height: 44vh;
  }

  .chatInnerContainer {
    height: 44vh;
  }
  
  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 88% !important;
  }

  .chatForm {
    padding: 0px 10px 0 5px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 22px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) and (min-height: 800px) and (min-width: 900px){
  .chatSectionContainer{
    margin: 5vh 0;
  }

  .chatMessagesContainer {
    height: 82% !important;
  }
}

@media screen and (max-width: 1280px) and (max-height: 632px) {
  .chatContainer {
    width: 25vw;
    height: 44vh;
  }
  
  .chatSectionContainer {
    width: 25vw;
  }

  .chatMessagesContainer {
    height: 78% !important;
  }

  .chatForm {
    padding: 0px 8px 0 5px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 22px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 18px;
  }
}

//for landscape
@media screen and (max-width: 1194px){
  .chatMessagesContainer {
    height: 74% !important;
  }
}

@media screen and (max-width: 1194px) and (min-height: 833px) and (min-width: 900px){
  
  .chatSectionContainer{
    margin: 5vh 0;
  }

}
@media screen and (max-width: 1194px) and (max-height: 660px){
  .chatMessagesContainer {
    height: 90% !important;
  }
}

@media screen and (max-width: 1080px) and (max-height: 810px) {
  .chatContainer {
    width: 27vw;
    height: 44vh;
    margin: 0 15px;
  }

  
  .chatSectionContainer {
    width: 27vw;
  }

  .chatMessagesContainer {
    height: 84% !important;
  }

  .chatForm {
    padding: 0px 10px 0 5px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 22px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 18px;
  }
}

@media screen and (max-width: 1080px) and (max-height: 640px) {
  .chatMessagesContainer {
    height: 78% !important;
  }
}

@media screen and (max-width: 1024px) and (max-height: 770px) {
  .chatContainer {
    width: 27vw;
    height: 44vh;
    margin: 0 15px;
  }

  .chatInnerContainer {
    height: 44vh;
  }
  
  .chatSectionContainer {
    width: 27vw;
  }

  .chatMessagesContainer {
    height: 80% !important;
  }

  .chatForm {
    padding: 0px 10px 0 5px;
  }

  .buyButton {
    display: none;
  }

  .hiLoButton {
    display: flex;
    position: relative;
    right: 0;
    font-size: 22px !important;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
  }

  .priceButton {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 610px) {
  .chatMessagesContainer {
    height: 78% !important;
  }
}

@media screen and (max-width: 1024px) and (min-height: 768px) and (min-width: 900px){
  .chatSectionContainer{
    margin: 5vh 0;
  }

  .chatMessagesContainer {
    height: 82% !important;
  }
}
@media screen and (max-width: 965px) and (max-height: 480px) {
  .chatMessagesContainer {
    height: 70% !important;
  }
}
// mobiles and tablets vertical
@media screen and (max-width: 1024px) and (min-height: 1168px) {
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 1rem;
    margin-left: 5px;
  }

  .active {
    top: -25px;
    left: -2px;
    width: 8px;
    height: 4px;
  }

  .icon {
    width: 37px;
    height: 37px;
  }

  .chatContainer {
    width: 25rem;
    background-color: transparent !important;
    border: none;
    margin: 0;
    margin: -30px 0 0 0;
    height: 31rem !important;
  }

  .chatMessagesContainer {
    position: relative;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    height: 28rem !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0em;
  }

  .chatInnerContainer {
    background-color: transparent;
    border-radius: 10px;
    height: 17.6rem !important;
  }

  .buyButton {
    display: flex !important;
  }

  .mobileFeatures {
    display: block;
  }

  .desktopFeatures {
    display: none;
  }

  .rightSideDesktopFeatures {
    display: none;
  }

  .collectButton {
    font-size: 20px !important;
    padding: 4px 6px !important;
    margin: 0 5px 0 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 1rem;
    margin-left: 5px;
  }

  .active {
    top: -25px;
    left: -2px;
    width: 8px;
    height: 4px;
  }

  .icon {
    width: 37px;
    height: 37px;
  }

  .chatContainer {
    width: 25rem;
    background-color: transparent !important;
    border: none;
    margin: 0;
    margin: -30px 0 0 0;
    height: 31rem !important;
  }

  .chatMessagesContainer {
    position: relative;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    height: 28rem !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0em;
  }

  .chatInnerContainer {
    background-color: transparent;
    border-radius: 10px;
    height: 17.6rem !important;
  }

  .buyButton {
    display: flex !important;
  }

  .mobileFeatures {
    display: block;
  }

  .desktopFeatures {
    display: none;
  }

  .rightSideDesktopFeatures {
    display: none;
  }

  .collectButton {
    font-size: 20px !important;
    padding: 4px 6px !important;
    margin: 0 5px 0 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 1rem;
    margin-left: 5px;
  }

  .active {
    top: -25px;
    left: -2px;
    width: 8px;
    height: 4px;
  }

  .icon {
    width: 37px;
    height: 37px;
  }

  .chatContainer {
    width: 25rem;
    background-color: transparent !important;
    border: none;
    margin: 0;
    margin: -30px 0 0 0;
    height: 22rem !important;
  }

  .chatMessagesContainer {
    position: relative;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    height: 28rem !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0em;
  }

  .chatInnerContainer {
    background-color: transparent;
    border-radius: 10px;
    height: 17.6rem !important;
  }

  .buyButton {
    display: flex !important;
  }

  .mobileFeatures {
    display: block;
  }

  .desktopFeatures {
    display: none;
  }

  .rightSideDesktopFeatures {
    display: none;
  }

  .collectButton {
    font-size: 16px !important;
    padding: 4px 8px !important;
    margin: 0 5px 0 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 1rem;
    margin-left: 5px;
    padding-top: 8px;
  }

  .active {
    top: -35px;
    left: 30px;
    width: 8px;
    height: 8px;
  }

  .icon {
    width: 37px;
    height: 37px;
  }

  .chatContainer {
    width: 13rem;
    background-color: transparent !important;
    border: none;
    margin: 0;
    margin: -30px 0 0 0;
    height: 22rem !important;
  }

  .chatMessagesContainer {
    position: relative;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    height: 19.6rem !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0em;
  }

  .chatInnerContainer {
    background-color: transparent;
    border-radius: 10px;
    height: 17.6rem !important;
  }

  .buyButton {
    display: flex !important;
  }

  .mobileFeatures {
    display: block;
  }

  .desktopFeatures {
    display: none;
  }

  .rightSideDesktopFeatures {
    display: none;
  }

  .collectButton {
    font-size: 16px !important;
    padding: 4px 3px !important;
    margin: 0 5px 0 0 !important;
  }

  .homeTitle {
    font-size: 10vw;
  }
  .priceButton {
    svg {
      display: none;
    }
  }
  .purchaseAmount {
    font-size: 24px;
  }
  .priceButton {
    font-size: 20px !important;
  }
}

@media screen and (max-height: 900px) {
  .chatInnerContainer {
    height: 48vh;
  }
}
@media screen and (max-height: 880px) {
  .chatInnerContainer {
    height: 51vh;
  }
}
@media screen and (max-height: 860px) {
  .chatInnerContainer {
    height: 50vh;
  }
}
@media screen and (max-height: 840px) {
  .chatInnerContainer {
    height: 49vh;
  }
}
@media screen and (max-height: 820px) {
  .chatInnerContainer {
    height: 47.5vh;
  }
}
@media screen and (max-height: 800px) {
  .chatInnerContainer {
    height: 46vh;
  }
}
@media screen and (max-height: 780px) {
  .chatInnerContainer {
    height: 44.5vh;
  }
}
@media screen and (max-height: 760px) {
  .chatInnerContainer {
    height: 43vh;
  }
}
@media screen and (max-height: 740px) {
  .chatInnerContainer {
    height: 42vh;
  }
}
@media screen and (max-height: 720px) {
  .chatInnerContainer {
    height: 40vh;
  }
}
@media screen and (max-height: 700px) {
  .chatInnerContainer {
    height: 38vh;
  }
}

@media screen and (max-width: 916px) and (max-height: 412px) {
  .chatContainer {
    width: 26.5vw;
    height: 53vh !important;
    background-color: #e3e3e3ab !important;
    border: #fff solid 5px;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10px;
    top: 10px;
  }

  .chatForm > div > Button {
    border-radius: 50% !important;
    height: 35px;
    width: 45px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: -18px;
    z-index: 1005 !important;
  }
  .chatMessageContainer {
    height: 10px !important;
  }
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 25vw !important;
    top: 5px;
  }
  .mobileLandscapeView {
    font-size: 11.5px !important;
    margin: 0px;
    margin-top: -2px !important;
  }

  .mobileLandscapeView > span {
    font-size: 10px !important;
  }
  .priceButton {
    font-size: 10px !important;
    margin-top: 5px !important;
  }
  .purchaseCardsStyle {
    margin: 0 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .purchaseButton {
    font-size: 17px !important;
    padding: 5px 17px 5px 17px !important;
    margin-bottom: -2px !important;
  }
  .collectButton {
    font-size: 18px !important;
    padding: 0px 4px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .balance {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  .profileAvatar {
    overflow: hidden;
    margin: 0 5px;
    cursor: pointer;
  }
  .icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
  .hiLoPlayButton {
    font-size: 16px !important;
    padding: 4px 9px !important;
    margin: 10px 0 0 -8px;
  }
  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
    font-size: 20px !important;
    width: 24.5vw;
    padding-left: 60px !important;
    margin-bottom: -2px !important;
  }
  .rightSideDesktopFeatures {
    display: block;
  }
  .hiLoPricesContainer {
    margin-bottom: 40px;
  }
  .buyButton {
    display: none !important;
  }
}
@media only screen and (max-width: 896px) and (max-height: 415px) {
  .chatContainer {
    width: 28.1vw;
    height: 47.8vh !important;
    background-color: #e3e3e3ab !important;
    border: #fff solid 5.31px;
    padding: 5.31px;
    border-radius: 21.23px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10.61px;
    top: 10.61px;
  }

  .chatForm > div > Button {
    border-radius: 53.07% !important;
    height: 37.27px;
    width: 47.83px;
    margin-bottom: 0;
    margin-left: 10.61px;
    margin-right: -19.16px;
    z-index: 1005 !important;
  }
  .chatMessageContainer {
    height: 11.06px !important;
  }
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 25.43% !important;
    top: 4.25px;
  }
  .chatInnerContainer {
    height: 53.04px !important;
  }

  .mobileLandscapeView {
    font-size: 4.24vh !important;
    margin: 0px;
    margin-top: 0.23vh !important;
  }
  .mobileLandscapeView > span {
    font-size: 4.24vh !important;
  }
  .priceButton {
    font-size: 10.61px !important;
  }
  .purchaseCardsStyle {
    margin: 0 5.61px;
    font-size: 21.22px;
    font-weight: bold;
  }
  .purchaseButton {
    font-size: 15.92px !important;
    padding: 5.31px 18.43px !important;
  }
  .collectButton {
    font-size: 15.92px !important;
    padding: 0px 4.24px !important;
    margin-left: 10.61px !important;
    margin-right: 10.61px !important;
  }
  .balance {
    color: #333;
    font-size: 15.92px;
    font-weight: bold;
  }
  .profileAvatar {
    overflow: hidden;
    margin: 0 5.61px;
    cursor: pointer;
  }
  .icon {
    margin-top: 3.18px;
    width: 26.52px;
    height: 26.52px;
  }
  .hiLoPlayButton {
    font-size: 12.73px !important;
    padding: 0.56px 4.24px !important;
    margin: 8.48px 0 0 -8.48px;
  }
  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
    font-size: 19.02px !important;
    margin: 0 !important;
  }
  .rightSideDesktopFeatures {
    display: block;
  }
  .hiLoPricesContainer {
    margin-bottom: 23.42px;
  }
  .buyButton {
    display: none !important;
  }
}
@media only screen and (max-width: 874px) and (orientation: landscape) {
  .chatContainer {
    height: 52vh !important;
  }
  .mobileLandscapeView {
    font-size: 16px !important;
    margin: 0px;
    margin-top: 0px !important;
  }
  .mobileLandscapeView > span {
    font-size: 16px !important;
  }
  .chatIcon {
    width: 24% !important;
  }
}
@media only screen and (max-width: 844px) and (max-height: 390px) {
  .chatContainer {
    width: 26.5vw;
    height: 45vh !important;
    background-color: #e3e3e3ab !important;
    border: #fff solid 5px;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10px;
    top: 10px;
  }

  .chatForm > div > Button {
    border-radius: 50% !important;
    height: 35px;
    width: 45px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: -18px;
    z-index: 1005 !important;
  }
  .chatMessageContainer {
    height: 10px !important;
  }
  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 24% !important;
    top: 4px;
  }
  .chatInnerContainer {
    height: 50px !important;
  }

  .mobileLandscapeView {
    font-size: 4vh !important;
    margin: 0px;
    margin-top: 0.2vh !important;
  }
  .mobileLandscapeView > span {
    font-size: 4vh !important;
  }
  .priceButton {
    font-size: 10px !important;
  }
  .purchaseCardsStyle {
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
  }
  .purchaseButton {
    font-size: 15px !important;
    padding: 5px 17px 5px 17px !important;
  }
  .collectButton {
    font-size: 15px !important;
    padding: 0px 4px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .balance {
    color: #333;
    font-size: 15px;
    font-weight: bold;
  }
  .profileAvatar {
    overflow: hidden;
    margin: 0 5px;
    cursor: pointer;
  }
  .icon {
    margin-top: 3px;
    width: 25px;
    height: 25px;
  }
  .hiLoPlayButton {
    font-size: 12px !important;
    padding: 0.5px 4px !important;
    margin: 8px 0 0 -8px;
  }
  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
    font-size: 18px !important;
    margin: 0 !important;
  }
  .rightSideDesktopFeatures {
    display: block;
  }
  .hiLoPricesContainer {
    margin-bottom: 22px;
  }
  .buyButton {
    display: none !important;
  }
}
@media only screen and (max-width: 800px) and (max-height: 330px) {
  .chatContainer {
    width: 22vw;
    height: 52vh !important;
    background-color: #e3e3e3ab !important;
    border: #fff solid 4px;
    padding: 4px;
    border-radius: 16px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 8px;
    top: 8px;
  }

  .chatForm > div > Button {
    border-radius: 50% !important;
    height: 28px;
    width: 36px;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: -14.4px;
    z-index: 1005 !important;
  }

  .chatMessageContainer {
    height: 7.47px !important;
  }

  .chatIcon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 19.2% !important;
    top: 3.2px;
  }

  .chatInnerContainer {
    height: 40px !important;
  }

  .mobileLandscapeView {
    font-size: 3.2vh !important;
    margin: 0;
    margin-top: 0.16vh !important;
  }

  .mobileLandscapeView > span {
    font-size: 3.2vh !important;
  }

  .priceButton {
    font-size: 8px !important;
  }

  .purchaseCardsStyle {
    margin: 0 4px;
    font-size: 16px;
    font-weight: bold;
  }

  .purchaseButton {
    font-size: 12px !important;
    padding: 4px 13.6px 4px 13.6px !important;
  }

  .collectButton {
    font-size: 12px !important;
    padding: 0px 3.2px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .balance {
    color: #333;
    font-size: 12px;
    font-weight: bold;
  }

  .profileAvatar {
    overflow: hidden;
    margin: 0 4px;
    cursor: pointer;
  }

  .icon {
    margin-top: 2.4px;
    width: 20px;
    height: 20px;
  }

  .hiLoPlayButton {
    font-size: 9.6px !important;
    padding: 0.4px 3.2px !important;
    margin: 6.4px 0 0 -6.4px;
  }

  .mobileFeatures {
    display: none;
  }

  .desktopFeatures {
    display: flex;
    font-size: 14.4px !important;
    margin: 0 !important;
  }

  .rightSideDesktopFeatures {
    display: block;
  }

  .hiLoPricesContainer {
    margin-bottom: 17.6px;
  }

  .buyButton {
    display: none !important;
  }
}
@media screen and (max-width: 751px) and (min-width: 540px) and (max-height: 335px){
  // .mobileFeatures{
  //   display: block;
  // }
  
  // .desktopFeatures{
  //   display: none;
  // }

  .rightSideDesktopFeatures{
    display: none;
  }

}
