.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 32vw;
  /* padding: 5px 0 10px 20px; */
}

.calledLetters {
  display: grid;
  grid-template-columns: auto;
  font-size: 32px;
  padding-right: 5px;
  font-family: "LuckiestGuy";
}
.calledLetters div img {
  width: 2vw;
  object-fit: cover;
  height: 100%;
}

.calledLetters div {
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numbers {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.letters {
  display: grid;
  grid-template-columns: auto;
  font-size: 32px;
  padding-right: 5px;
}
.letters div img {
  width: 2vw;
  object-fit: cover;
  height: 100%;
}

.letters div {
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1920px) {
  .playerContainer {
    padding: 2vh 0 0vh 0 !important;
  }
}
.playerContainer::after {
  /* content: url("./images/decoration.svg");
    width: 100%;
    position: absolute;
    transform: scale(0.08);
    bottom: 119%;
    left: 0%;
    height: 2px;
    /* width: 80px;
    left: 45%;
    position: absolute;
    border-radius: 5px;
    bottom: 103.5%;
    display: inline-block;
    border-radius: 5px;
    border-bottom: #808881 4px solid; */
}
.playerContainer {
  /* background-image: url(images/Bingo_Blue_SHADED.png); */
  border-top: #1f201f 36px solid;
  box-shadow: inset 0px 0px 10px 12px #1f201f50;
  background: linear-gradient(
    180deg,
    hsla(178, 73%, 90%, 1) 0%,
    hsla(187, 100%, 98%, 1) 100%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  transition: all 2s linear;
  display: flex;
  height: 100%;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0 1vh 0;
  box-sizing: border-box;
}
.centerBall {
  margin: auto 4vw;
}
.activeContainer {
  padding: 1vh 0vw 1vh 0vw;
  display: flex;
  /* margin-right: 20px; */
  justify-content: space-between;
  width: 100%;
}

.topMessageBar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  z-index: 1000;
  text-align: center;
}
.icon {
  width: 50px;
}

.playerCount {
  font-size: 3em;
  padding: 0.05em;
  height: min-content;
  white-space: nowrap;
  background-color: #d3dee0;
  font-size: 4em;
  line-height: 0.5em;
  margin-right: 10px;
  min-width: 3em;
  border-width: 5px 5px 8px 5px;
  border-style: solid;
  border-color: transparent;
  border-image: url(images/playersBox.png);
  border-image-slice: 5 5 8 5 fill;
}

/* @media only screen and (max-width: 900px) {
    .playerCount {
      display: none;
    }
  } */
.playAudioButton {
  position: absolute;
  color: white;
  cursor: pointer;
}

.broadcastGame {
  background-position: 0vw 80px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32vh;
  z-index: 2;
  position: relative;
  background-color: transparent;
}

.speakerBg {
  background-color: #3b1103;
  z-index: 2;
  position: absolute;
  /* height: 50vh; */
  top: 0;
  left: 0;
  width: 18vw;
  object-fit: contain;
}
.speakerBgDetail {
  background-image: url(images/backdrop.png);
  position: absolute;
  z-index: 200;
  display: block;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
.loadingModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #252e68;
  z-index: 10;
  display: table;
  text-align: center;
  vertical-align: middle;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    /* font-size: 12px !important; */
    height: auto !important;
    width: 100%;
  }
  .content {
    margin: 0 !important;
  }
  .stump {
    height: 100% !important;
    width: 2vw !important;
  }
  .numbers {
    width: 92%;
    grid-gap: 1px;
    grid-template-columns: repeat(15, auto) !important;
  }
  .calledLetters {
    width: 8%;
    padding-right: 0;
  }
  .calledLetters > div {
    margin-top: 6px;
  }
  .square {
      margin: 0 !important;
    }
}
@media only screen and (max-width: 1280px) {
  .container {
    /* font-size: 12px !important; */
    height: 29vh;
  }
  .square {
    margin: 0 2.5px !important;
  }
  .stump {
    height: 100% !important;
    width: 2.5vw !important;
  }

  .broadcastGame {
    background-position: 0vw 13vh;
  }
  .activeContainer {
    justify-content: unset;
  }
}

@media only screen and (max-width: 1366px) {
  .square {
    margin: 0 2px;
  }
}

@media only screen and (max-width: 1440px) {
  .square {
    margin: 0 2px;
  }
}
@media only screen and (max-width: 1600px) {
  .square {
    margin: 0 2px;
  }
}

@media only screen and (min-width: 1920px) {
  .activeContainer {
    padding: 5vh 0vw 1vh 0vw !important;
  }
}
html {
  overflow-x: hidden;
}
/* p {
  font-size: 20px;
} */
.topSection {
  display: flex;
  height: 12vh;
  margin-left: auto;
  width: 82vw;
}

.speakerPlayShow {
  /* background-image: url(images/speakerPlay.png); */
  background-image: url(images/play.png);
  background-color: #3b1103;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 225px;
}
.speakerCheckShow {
  background-image: url(images/check.png);
  background-color: #3b1103;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 225px;
}
.speakerHomeShow {
  background-image: url(images/home.png);
  background-color: #3b1103;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 225px;
}
.speakerSuccessShow {
  background-image: url(images/success.png);
  background-color: #3b1103;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 225px;
}

.middleSection {
  background-image: url(images/backgroundBroadcastt.webp);
  background-position: 0vw 98px;
  background-repeat: no-repeat;
  background-size: 100% 63%;
  height: 35vh;
}

/* .container > div:nth-child(4){
height: 100%;
display: flex;
flex-direction: row;
} */

.messageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.messageOverlayContainer:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.container .numbers {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  /* font-size: 16px; */
  /* font-size: 20px; */
}
/* @media screen and (max-width:1366px) {
  .container .numbers {
    font-size:0.7em;
  }
  .container .numbers .square{
    min-width:18px !important;

} */
.container .numbers .square {
  position: relative;
  min-width: 1.5vw;
  min-height: 1.5vh;
}

.container .numbers .square.drawn {
  background-color: #7244e9;
}

.numbers > .square::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.numbers .square .content {
  position: absolute;
  top: 0px;
  left: 0;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers .square .content img {
  width: 100% !important;
  height: 100% !important;
}
.stump {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.3em;
}
.newNum {
  animation: pulse 2s infinite;
  font-family: "LuckiestGuy";
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@media only screen and (min-width: 1920px) {
  .playerContainer {
    padding: 2vh 0 0vh 0 !important;
  }
}
.playerContainer::after {
  /* content: url("./images/decoration.svg");
  width: 100%;
  position: absolute;
  transform: scale(0.08);
  bottom: 119%;
  left: 0%;
  height: 2px;
  /* width: 80px;
  left: 45%;
  position: absolute;
  border-radius: 5px;
  bottom: 103.5%;
  display: inline-block;
  border-radius: 5px;
  border-bottom: #808881 4px solid; */
}
.playerContainer {
  /* background-image: url(images/Bingo_Blue_SHADED.png); */
  border-top: #1f201f 36px solid;
  box-shadow: inset 0px 0px 10px 12px #1f201f50;
  background: linear-gradient(
    180deg,
    hsla(178, 73%, 90%, 1) 0%,
    hsla(187, 100%, 98%, 1) 100%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 3;
  position: relative;
  transition: all 2s linear;
  display: flex;
  height: 100%;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0 1vh 0;
  box-sizing: border-box;
}
.centerBall {
  margin: auto 4vw;
}
.activeContainer {
  padding: 1vh 0vw 1vh 0vw;
  display: flex;
  /* margin-right: 20px; */
  justify-content: space-between;
  width: 100%;
}
.letterAnim {
  /*height: 20px;*/
}
.topMessageBar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  z-index: 1000;
  text-align: center;
}
.icon {
  width: 50px;
}

.playerCount {
  font-size: 3em;
  padding: 0.05em;
  height: min-content;
  white-space: nowrap;
  background-color: #d3dee0;
  font-size: 4em;
  line-height: 0.5em;
  margin-right: 10px;
  min-width: 3em;
  border-width: 5px 5px 8px 5px;
  border-style: solid;
  border-color: transparent;
  border-image: url(images/playersBox.png);
  border-image-slice: 5 5 8 5 fill;
}

/* @media only screen and (max-width: 900px) {
  .playerCount {
    display: none;
  }
} */
.playAudioButton {
  position: absolute;
  color: white;
  cursor: pointer;
}

.broadcastGame {
  background-position: 0vw 80px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32vh;
  z-index: 2;
  position: relative;
  background-color: transparent;
}

.speakerBg {
  background-color: #3b1103;
  z-index: 2;
  position: absolute;
  /* height: 50vh; */
  top: 0;
  left: 0;
  width: 18vw;
  object-fit: contain;
}
.speakerBgDetail {
  background-image: url(images/backdrop.png);
  position: absolute;
  z-index: 200;
  display: block;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
.loadingModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #252e68;
  z-index: 10;
  display: table;
  text-align: center;
  vertical-align: middle;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .activeContainer {
    padding: 5vh 0vw 1vh 0vw !important;
  }
}

@media only screen and (min-width: 1600px) {
  .square {
    margin: 0 3px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .square {
    margin: 0 2px !important;
  }
}
@media only screen and (min-width: 1366px) {
/*   .container {
    padding: 5px 0 10px 10px !important;
  } */
  .square {
    margin: 0 3px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    /* font-size: 12px !important; */
    height: 29vh;
  }
  .square {
    margin: 0 2.5px !important;
  }
  .stump {
    height: 100% !important;
    width: 2.5vw !important;
  }

  .broadcastGame {
    background-position: 0vw 13vh;
  }
  .activeContainer {
    justify-content: unset;
  }
}
@media only screen and (max-width: 1024px) {
/*   .container {
    height: 29vh;
  }
  .content {
    margin: 0 2px !important;
  }
  .stump {
    height: 100% !important;
    width: 2vw !important;
  } */
  .square {
    margin: 0 !important;
  }
}
@media only screen and (max-device-width: 991px) {
  .content {
    margin: 0 10px !important;
  }
  .stump {
    width: 18px !important;
    height: 18px !important;
  }
  .container {
    padding: 0 !important;
    height: 24vh !important;
    padding: 0 20px 0 0 !important;
  }
  .letterAnim {
    height: 14px !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 750px) and (max-device-width: 750px) {
  .calledLetters {
    font-size: 22px !important;
  }
    .content {
        margin: 0 !important;
    }

    .numbers .square .content {
        width: 20px;
        height: 20px;
    }
}


