.container {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 209px;
    margin: 10px 10px 0 10px;
    position: relative;
    z-index: 99;
}

.letter {
    position: absolute;
    top: 20px;
    z-index: 9999;
    font-family: "LuckiestGuy", Tahoma, sans-serif;
}

.currentNum {
    
}

.spin::before,
.spin::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
}

.spin:before {
    border: 20px solid transparent;
}

.spin::after {
    border: 20px solid transparent;
}

.spin:hover::before {
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    transition: border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin:hover::after {
    border-top: 20px solid inherit;
    border-left-width: 20px;
    border-right-width: 20px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s,
    -webkit-transform 0.4s linear 0s;
}

.spin::before,
.spin::after {
    border-radius: 100%;
}

.floatingBall {
    transform: translate(-30px, -80px) scale(0.9);
    position: absolute !important;
    opacity: 0.8 !important;
}

.container span {
    transform: translate(-30px, -30px);
}

.ball img {
    width: 100px;
    height: 100px;
}

.ballCount {
    min-width: 35px;
    padding: 1px;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px !important;
    border-radius: 3px;
    width: 30px !important;
    left: 88px;
    bottom: 0;
    font-size: 30px;
}

.jackpot {
    background-color: black;
    color: #f2d134;
    z-index: 1;
}

.coin {
    width: 25px;
}

.jackpotValue {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 2160px) {
    .container {
        width: 300px;
        height: 300px;
        /* margin-top: 40px; */
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 140px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 48px;
        left: 20.6em;
        bottom: 6.2rem;
    }

    .letter{
        top: 30px;
        font-size: 58px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        width: 300px;
        height: 300px;
        margin-top: 40px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 140px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 42px;
        left: 21.5em;
        bottom: 2.2rem;
    }

    .letter{
        top: 30px;
        font-size: 58px;
    }
}
@media screen and (max-width: 1536px) {
    .container {
        width: 270px;
        height: 270px;
        margin-top: 40px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 140px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 40px;
        left: 18.5em;
        bottom: 2.5rem;
    }

    .letter{
        top: 30px;
        font-size: 58px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 230px;
        height: 230px;
        margin-top: 40px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 140px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 40px;
        left: 16.4em;
        bottom: 1.5rem;
    }

    .letter{
        top: 30px;
        font-size: 48px;
    }
}
@media screen and (max-width: 1336px) {
    .container {
        width: 240px;
        height: 240px;
        margin-top: 50px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 140px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 38px;
        left: 16.4em;
        bottom: 1.7rem;
    }

    .letter{
        top: 30px;
        font-size: 48px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 220px;
        height: 220px;
        margin-top: 40px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 120px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 34px;
        left: 16.5em;
        bottom: 1.6rem;
    }

    .letter{
        top: 30px;
        font-size: 48px;
    }
}


@media screen and (max-width: 1024px) {
    .letter {
        top: 2vh;
        font-size: 8vw;
    }

    .container {
        padding: 0 !important;
        width: 25vw;
        height: 25vw;
        margin: 0;
    }

    .container span {
        transform: translate(-20px, -22px) !important;
    }

    .ballCount {
        position: absolute;
        height: 110px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 48px;
        left: 4em;
        bottom: 0;
    }

}

/* for portrait */
@media screen and (max-width: 1024px) and (max-height:770px) and (min-height:765px) {
    .container {
        width: 185px;
        height: 185px;
        margin-top: 50px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 120px !important;
        border-radius: 3px;
        width: 40px !important;
        font-size: 34px;
        left: 14em;
        bottom: 1.8rem;
    }

    .letter{
        top: 20px;
        font-size: 46px;
    }
} 

@media screen and (max-width: 900px) {
    .letter {
        top: 5vh;
        font-size: 6vw;
    }

    .container {
        padding: 0 !important;
        width: 30vw;
        height: 30vw;
        margin: 0;
    }

    .container span {
        transform: translate(-20px, -22px) !important;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount {
        min-width: 16px;
        position: absolute;
        height: 100px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 46px;
        left: 3.9em;
    }

}

@media screen and (max-width: 800px) {
    .letter {
        top: 5vw;
        font-size: 7vw;
    }

    .container {
        padding: 0 !important;
        width: 30vw;
        height: 30vw;
        margin: 0;
    }

    .ballCount {
        position: absolute;
        height: 110px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 50px;
        left: 3.35em;
    }
    
}

@media only screen and (max-width: 750px) {
    .letter {
        top: 4vw;
    }
    
    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .container {
        width: 31vw;
        height: 31vw;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount {
        position: absolute;
        height: 110px !important;
        border-radius: 3px;
        width: 50px !important;
        font-size: 46px;
        left: 3.7em;
    }

}

@media only screen and (max-width: 700px) {
    .letter {
        top: 4vw;
    }
    
    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .container {
        width: 28vw;
        height: 28vw;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount {
        position: absolute;
        height: 90px !important;
        border-radius: 3px;
        width: 45px !important;
        font-size: 42px;
        left: 4em;
    }
}

@media only screen and (max-width: 600px) {
    .letter {
        top: 3vw;
    }

    .container {
        width: 27vw;
        height: 27vw;
    }

    .ballCount {
        position: absolute;
        height: 70px !important;
        border-radius: 3px;
        width: 30px !important;
        font-size: 30px;
        left: 100px;
    }

    
}

@media only screen and (max-width: 540px) {
    .letter {
        top: 2vh;
    }

    .container {
        width: 31vw;
        height: 31vw;
    }

    .ballCount {
        position: absolute;
        left: 91px;
    }
}

/* @media screen and (max-width: 394px) and (max-height:874px){
    .letter {
        top: 1vh;
    }

    .container {
        width: 30vw;
        height: 30vw;
    }

    .ballCount {
        position: absolute;
        left: 100px;
    }
} */

@media only screen and (max-width: 350px) {
    .letter {
        top: 2.5vh;

    }

    .ballCount {
        left: 90px;
        bottom: -6px;
    }
}

/* mobile landscape view */
@media screen and (min-width: 5120px) and (max-width: 5130px),
screen and (min-height: 2880px) and (max-height: 2890px) {
     
    .container {
        width: 800px;
        height: 800px;
        left: -40.2px;
        margin-top: -260px;
        }
        .ball img {
            width: 175px !important;
            height: 175px !important;
        }

        .ball {
            min-width: 43.75px;
            font-size: 35.16px;
        }

        .ballCount{
            position: absolute;
            height: 344.2px !important;
            border-radius: 18.5px;
            width: 141.3px !important;
            font-size: 160px;
            left: 53%;
            bottom: 27rem;
        }

        .letter{
            top: 70px;
            font-size: 250px;
        }
}
@media screen and (min-width: 3830px) and (max-width: 3850px),
screen and (min-height: 2150px) and (max-height: 2170px) {
    .container {
        width: 570px;
        height: 625px;
        left: -31.2px;
        margin-top: -200px;
    }

    .ball img {
        width: 135px !important;
        height: 135px !important;
    }

    .ball {
        min-width: 33.75px;
        font-size: 27.34px;
    }

    .ballCount{
        position: absolute;
        height: 213.4px !important;
        border-radius: 11.4px;
        width: 89.1px !important;
        font-size: 106.9px;
        left: 55%;
        bottom:16.5rem;
    }

    .letter{
        top: 85px;
        font-size: 180px;
    }

}
@media screen and (min-width: 2732px) and (max-width: 2742px),
       screen and (min-height: 2048px) and (max-height: 2058px) {

        .container {
            width: 430px;
            height: 317px;
            left: -25px;
            margin-top: -120px;
        }
    
        .ball img {
            width: 89px !important;
            height: 89px !important;
        }
    
        .ball {
            min-width: 22px;
            font-size: 17.67px;
        }
    
        .ballCount{
            position: absolute;
            height: 139px !important;
            border-radius: 7.4px;
            width: 58.3px !important;
            font-size: 69.7px;
            left: 56%;
            bottom: 12rem;
        }
    
        .letter{
            top: -15px;
            font-size: 130.25px;
        }
}
@media screen and (min-width: 2560px) and (max-width: 2570px),
       screen and (min-height: 1440px) and (max-height: 1610px) {

        .container {
            width: 410px;
            height: 390px;
            left: -40.4375px;
            margin-top: -120px;
        }
    
        .ball img {
            width: 83.4375px !important;
            height: 83.4375px !important;
        }
    
        .ball {
            min-width: 20.625px;
            font-size: 16.578125px;
        }
    
        .ballCount{
            position: absolute;
            height: 130.3125px !important;
            border-radius: 6.9375px;
            width: 54.6875px !important;
            font-size: 65.390625px;
            left: 56%;
            bottom: 12.25rem;
        }
    
        .letter{
            top: 35.625px;
            font-size: 110px;
        }
}
@media screen and (min-width: 2048px) and (max-width: 2058px),
       screen and (min-height: 1536px) and (max-height: 1546px){
        .container {
            width: 410px;
            height: 300px;
            left: -15px;
            margin-top: 55px;
        }
    
        .ball img {
            width: 64px !important;
            height: 64px !important;
        }
    
        .ball {
            min-width: 16px;
            font-size: 12.72px;
        }
    
        .ballCount{
            position: absolute;
            height: 100px !important;
            border-radius: 5.3px;
            width: 42.4px !important;
            font-size: 50.2px;
            left: 60%;
            bottom: 6rem;
        }
    
        .letter{
            top: 0px;
            font-size: 100.56px;
        }
       }
@media screen and (max-width: 916px) and (max-height: 412px){
    .container {
        width: 85px;
        height: 191px;
        left: -15px;
        margin-top: 43px;
    }

    .ball img {
        width: 64px !important;
        height: 64px !important;
    }

    .ball {
        min-width: 16px;
        font-size: 12.72px;
    }

    .ballCount{
        position: absolute;
        height: 64px !important;
        border-radius: 5.3px;
        width: 42.4px !important;
        font-size: 19.2px;
        left: 52%;
        bottom: 0.1rem;
    }

    .letter{
        top: 60px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 896px) and (max-height: 415px) {
    .container {
        width: 12.73vw;
        height: 49.04vh;
        left: -26.52px;
        margin-top: 42.44px;
    }

    .ball img {
        width: 63.66px !important;
        height: 63.66px !important;
    }

    .ball {
        min-width: 15.91px;
        font-size: 12.73px;
    }

    .ballCount{
        position: absolute;
        height: 16.37vh !important;
        border-radius: 5px;
        width: 42.44px !important;
        font-size: 21.22px;
        left: 56%;
        bottom: 0.64rem;
    }

    .letter{
        top: 13.24vh;
        font-size: 6.59vh;
    }
}
@media only screen and (max-width: 844px) and (max-height: 390px) {
    .container {
        width: 12vw;
        height: 46vh;
        left: -25px;
        margin-top: 40px;
    }

    .ball img {
        width: 60px !important;
        height: 60px !important;
    }

    .ball {
        min-width: 15px;
        font-size: 12px;
    }

    .ballCount{
        position: absolute;
        height: 15.38vh !important;
        border-radius:5px;
        width: 40px !important;
        font-size: 20px;
        left: 55%;
        bottom: 0.6rem;
    }

    .letter{
        top: 13.5vh;
        font-size: 6.2vh;
    }

}
@media only screen and (max-width: 800px) and (max-height: 330px) {
    .container {
      width: 10vw;
      height: 46vh;
      left: -21.33px;
      margin-top: 48px;
    }
    .ball img {
      width: 53.33px !important;
      height: 53.33px !important;
    }
    .ball {
      min-width: 13.33px;
      font-size: 10.67px;
    }
    .ballCount {
      position: absolute;
      height: 14.56vh !important;
      border-radius: 5px;
      width: 35.56px !important;
      font-size: 16px;
      left: 52%;
      bottom: 0.2rem;
    }
    .letter {
      top: 13vh;
      font-size: 7.5vh;
    }
}
@media only screen and (max-width: 740px) and (max-height: 330px) {
    .container {
        width: 11vw;
        height: 46vh;
        left: -25px;
        margin-top: 40px;
    }

    .ball img {
        width: 50px !important;
        height: 50px !important;
    }

    .ball {
        min-width: 10px;
        font-size: 9px;
    }

    .ballCount {
        position: absolute;
        height: 13.38vh !important;
        border-radius: 5px;
        width: 36px !important;
        font-size: 18px;
        left: 55%;
        bottom: 0.6rem;
    }

    .letter {
        top: 12.5vh;
        font-size: 5.6vh;
    }
}

  