@import "colors";

.container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  padding: 0 1vw 0 0;
}

.credits {
  display: flex;
  align-items: center;
}

.ballIcon {
  width: 100px;
  margin-top: 6vh;
}

.creditControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.creditControl > div {
  width: 30px;
  height: 30px;
  padding: 5px 3px 6px 3px;
  font-size: 24px;
}

.coin {
  width: 1.1rem;
}

.coinRight {
  width: 2em;
  height: 1.5em;
}

.collectButton:hover,
.playButton:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
  inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  color: rgb(25, 197, 25);
}

.collectButton:active,
.playButton:active {
  box-shadow: rgba(78, 78, 78, 0.25) 0px 1px 0px,
  inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
  inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
  inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
}


.collectButton {
  font-size: 1.5rem !important;
  background-color: $mainColor !important;
  width: 120px !important;
}

.HighLowLeftContainerTitles {
  display: flex;
  flex-direction: row;
}

.rightContainer {
  display: flex;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.value {
  font-size: 28px;
  display: flex;
  margin: 0 4px;
  align-items: center;
  font-weight: bold;
}

.value > button {
  min-width: 130px !important;
}

@media screen and (max-width: 750px) {
  .container {
    padding: 0;
  }

  .value > button {
    min-width: 80px !important;
    margin: 3px;
    padding: 10px 10px;
  }
}

.label {
  position: relative;
}

.upDownButton {
  width: min-content;
  min-width: 40px;
}

.radioButton {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.fakeButton {
  z-index: 2;
  border-radius: 55px;
  margin: 0 10px;
  padding: 0 9px;
  cursor: pointer;
  width: fit-content;
  height: 51px;
  min-width: 120px;
  font-size: 24px;
  justify-content: center !important;
  position: relative;
  transition: all 0.35s;
  align-items: center;
  font-family: "LuckiestGuy";
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 1.75 !important;
  white-space: nowrap;
}

.inputData:checked + .fakeButton {
  transform: scale(0.9);
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;

  box-shadow: rgb(0 0 0 / 70%) 0px 5px 15px,
  inset rgb(0 0 0 / 15%) 0px -10px 20px !important;
  cursor: default !important;
}

.inputData[type="radio"]:disabled + .fakeButton {
  opacity: 0.5;
  cursor: default;
}

.disabled.fakeButton {
  opacity: 0.5;
  cursor: default;
}

.arrowContent {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.playButton {
  margin: 6px 0 !important;
  font-size: 0.8em !important;
  line-height: 1.75;
  background: #252e68;
  color: white !important;
  width: 150px !important;
  height: 70px !important;
  justify-content: center;
  display: flex;
}

.creditValue {
  margin: 0 !important;
  font-size: 32px;
}

.buttonContainer {
  padding: 30px 0;
}

.highlowcontainer{
  height: 14vh;
}



@media screen and (min-width: 1921px) {
  .fakeButton {
    min-height: 51px !important;
    min-width: 120px;
    font-size: 26px;
  }
}
@media screen and (max-width: 1920px) {
  .fakeButton {
    min-height: 51px !important;
    min-width: 120px;
    font-size: 26px;
  }
}

@media screen and (max-width: 1440px) {
  .fakeButton {
    min-height: 51px !important;
    min-width: 120px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1280px) {
  .fakeButton {
    min-height: 51px !important;
    min-width: 120px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 1024px) and (min-height:1000px){

  .value {
    font-size: 1em;
  }

  .upDownButton {
    width: 20px;
  }

  .collectButton {
    font-size: 10px !important;
  }

  .playButton {
    width: 45px !important;
  }

  .fakeButton {
    min-width: 100px;
    height: 60px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 770px){

  .value {
    font-size: 0.8em;
  }

  .upDownButton {
    width: 20px;
  }

  .collectButton {
    font-size: 10px !important;
  }

  .playButton {
    width: 40px !important;
  }

  .fakeButton {
    min-width: 80px;
    height: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .fakeButton {
    height: 40px;
    font-size: 30px;
    width: 60px;
    min-width: 60px;
  }

  .playButton {
    height: 20px !important;
  }

  .upDownButton {
    width: 20px;
  }

  .collectButton {
    font-size: 10px !important;
  }

  .playButton {
    width: 45px !important;
  }

  .leftContainer {
    padding-top: 0 !important;
  }

  .creditValue {
    font-size: 28px !important;
  }


  .creditControl > div {
    width: 18px;
    height: 18px;
    padding: 5px 3px 6px 3px;
    font-size: 20px;
  }

  .highlowcontainer{
    height: 10vh;
  }

  .value {
    font-size: 2.6em;
  }

  .coin {
    width: 1.7rem;
  }
}

@media screen and (max-width: 700px) {
  .highlowcontainer{
    height: 10vh;
  }

  .fakeButton {
    height: 40px;
    font-size: 18px;
    width: 60px;
    min-width: 60px;
  }

  .value{
    font-size: 1.6em;
  }

  .coin {
    width: 1.1rem;
  }
}

@media screen and (min-width: 5120px) and (max-width: 5130px),
       screen and (min-height: 2880px) and (max-height: 2890px) {
        .highlowcontainer {
          height: 20vh;
          margin-top: -2vh;
          margin-right: 50px;
        }
        .buttonContainer {
          padding: 116px 50px;
        }
        .fakeButton {
          height: 200px;
          font-size: 90px;
          width: 266.67px;
          min-width: 266.67px;
        }
        .value {
          font-size: 5.6em;
        }
        .coin {
          width: 7.47rem;
        }
       }
@media screen and (min-width: 3840px) and (max-width: 3850px),
screen and (min-height: 2160px) and (max-height: 2170px) {
      .highlowcontainer{
      height: 25vh;
      margin-top: 0vh;
      margin-right: 50px;
      }
      .buttonContainer {
      padding: 70px 50px;
      }
      .fakeButton {
      height: 150px;
      font-size: 60px;
      width: 200px;
      min-width: 200px;
      }
      .value{
      font-size: 4em;
      }
      .coin {
      width: 5rem;
      }
}
@media screen and (min-width: 2732px) and (max-width: 2742px),
screen and (min-height: 2048px) and (max-height: 2058px) {
      .highlowcontainer{
      height: 20vh;
      margin-top: 8vh;
      margin-right: 25px;
      }
      .buttonContainer {
      padding: 50px 30px;
      }
      .fakeButton {
        height:120px;
        font-size: 45px;
        width: 150px;
        min-width: 150px;
      }

      .value{
        font-size: 3em;
      }

      .coin {
        width: 4rem;
      }
} 
@media screen and (min-width: 2560px) and (max-width: 2570px),
screen and (min-height: 1440px) and (max-height: 1610px) {
      .highlowcontainer{
        height: 18.75vh;
        margin-top: 2vh;
        margin-right: 23.4375px;
      }
      .buttonContainer {
        padding: 46.875px 28.125px;
      }
      .fakeButton {
        height:112.5px;
        font-size:42.1875px;
        width:140.625px;
        min-width:140.625px
      }

      .value{
        font-size:2.8125em
      }

      .coin{
        width:3.75rem
      }
}
@media screen and (min-width: 2560px) and (max-width: 2570px) and (min-height: 1440px) and (max-height: 1450px) {
  .highlowcontainer{
    height: 13.75vh;
    margin-top: 2vh;
    margin-right: 23.4375px;
  }
}
@media screen and (min-width: 2048px) and (max-width: 2058px),
       screen and (min-height: 1536px) and (max-height: 1546px) {
        .highlowcontainer{
          height: 15vh;
          margin-top: 5vh;
          margin-right: 15px;
        }
        .buttonContainer {
          padding: 30px 20px;
        }
      
        .fakeButton {
          height:90px;
          font-size: 35px;
          width: 120px;
          min-width: 120px;
        }
      
        .value{
          font-size: 2.5em;
        }
      
        .coin {
          width: 3.5rem;
        }
       }
@media screen and (max-width: 916px) and (max-height: 412px){
  .highlowcontainer{
    height: 10vh;
    margin-top: 5vh;
  }

  .fakeButton {
    height: 20px;
    font-size: 18px;
    width: 60px;
    min-width: 60px;
  }

  .value{
    font-size: 1.3em;
  }

  .coin {
    width: 1.4rem;
  }
}
@media only screen and (max-width: 896px) and (max-height: 415px) {
  .highlowcontainer {
    height: 10.61vh;
  }

  .fakeButton {
    height: 21.22px;
    font-size: 15.91px;
    width: 63.67px;
    min-width: 63.67px;
  }

  .value {
    font-size: 1.06em;
  }

  .coin {
    width: 1.17rem;
  }
}

@media only screen and (max-width: 844px) and (max-height:390px){
  .highlowcontainer{
    height: 10vh;
  }

  .fakeButton {
    height: 20px;
    font-size: 15px;
    width: 60px;
    min-width: 60px;
  }

  .value{
    font-size: 1em;
  }

  .coin {
    width: 1.1rem;
  }
}
@media only screen and (max-width: 800px) and (max-height: 330px) {
  .highlowcontainer {
    height: 10vh;
  }

  .fakeButton {
    height: 18.95px;
    font-size: 14.21px;
    width: 56.84px;
    min-width: 56.84px;
  }

  .value {
    font-size: 0.9474em;
  }

  .coin {
    width: 1.0474rem;
  }
}
@media only screen and (max-width: 740px) and (max-height: 330px) {
  .highlowcontainer {
    height: 8vh;
  }

  .fakeButton {
    height: 15px;
    font-size: 12px;
    width: 45px;
    min-width: 45px;
  }

  .value {
    font-size: 0.9em;
  }

  .coin {
    width: 0.94rem;
  }
}


